* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.caixa {
    width: 500px;
    height: 625px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
    text-align: center;
}

.caixa-cadastro {
    width: 500px;
    height: 450px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
    text-align: center;
}

.caixa-mini {
    width: 400px;
    height: 150px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: whitesmoke;
    text-align: left;
}

.caixa-mini-cadastro {
    width: 400px;
    height: 200px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: whitesmoke;
    text-align: left;
}

.caixa-mini-atividade {
    width: 300px;
    height: 700px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: whitesmoke;
    text-align: Center;
    line-height: 200%;
}

.caixa-mini-atividade-toda {
    width: 500px;
    height: 750px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
    text-align: center;
}

.caixa-texto {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 18px;
}

.caixa-texto-2 {
    width: 425px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 18px;
}

.texto {
    padding-top: 50px;
    font-size: 50px;
    color: darkgreen;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
}

.texto-mini {
    font-size: 20px;
    color: gray;
}

.texto-atividade {
    font-size: 30px;
    color: green;
}

.botao {
    width: 200px;
    padding: 15px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: green;
    color: whitesmoke;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

hr {
    width: 502px;
    height: 5px;
    top: 30px;
    left: -1px;
    position: relative;
    background-color: white;
    border: 0px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin: auto;
}

@media(max-width:1400px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: 0;
    }

    .caixa {
        width: 500px;
        height: 600px;
        margin-left: 450px;
        margin-right: 450px;
        top: 100px;
        position: fixed;
        border: 1px solid black;
        border-radius: 15px;
        background-color: whitesmoke;
        text-align: center;
    }

    .caixa-mini {
        width: 400px;
        height: 150px;
        padding-top: 25px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        background-color: whitesmoke;
        text-align: left;
    }

    .caixa-mini-cadastro {
        width: 400px;
        height: 350px;
        padding-top: 25px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        background-color: whitesmoke;
        text-align: left;
    }

    .caixa-texto {
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        border-radius: 15px;
        font-size: 18px;
    }

    .texto {
        padding-top: 50px;
        font-size: 50px;
        color: darkgreen;
        margin-left: auto;
        margin-right: auto;
        line-height: 50px;
    }

    .texto-mini {
        font-size: 25px;
        color: gray;

    }

    .botao {
        width: 200px;
        padding: 15px;
        font-size: 25px;
        border: 1px solid black;
        border-radius: 15px;
        background-color: green;
        color: whitesmoke;
        position: relative;
        text-align: center;
        margin-top: 20px;
    }

    hr {
        width: 502px;
        height: 5px;
        top: 30px;
        left: -1px;
        position: relative;
        background-color: white;
        border: 0px;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        margin: auto;
    }
}