/*-----------------------------------------------------------------------------------------Exemplos-----------------------------------------------------------------------------------------*/
.div {
    font-size: 1em;
    background-color: white;
    color: white;
    width: 1em;
    height: 1em;
    display: grid;
    flex-direction: row;
    justify-content: grid;
    text-align: center;
    align-items: center;
    position: fixed;
    padding: 1em;
    margin: 1em;
}

/*-----------------------------------------------------------------------------------------Geral-----------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    width: 25vw;
    height: 1vh;
    background-color: whitesmoke;
    left: -1px;
    position: absolute;
    border: 0.01em solid black;
    border-left: 0;
    border-right: 0;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
}

summary {
    font-size: 1.5em;
    width: 11.5vw;
    height: 7vh;
    background-color: green;
    color: white;
    border: 0.01em solid black;
    border-radius: 10px;
    left: 1.5vw;
    position: relative;
    padding-left: 0.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 1.5vh;
}

/*-----------------------------------------------------------------------------------------Logar/Cadastro-----------------------------------------------------------------------------------------*/
/*_________________________________________________________________________________________Caixa_________________________________________________________________________________________*/
.caixa-fundo {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.caixa-meio {
    background-color: rgb(222, 222, 222);
    border: 0.01em solid black;
    border-radius: 1em;
    width: 25vw;
    height: 60vh;
    position: fixed;
    text-align: center;
    align-items: center;
    padding-top: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.caixa-logar-dentro {
    height: 20vh;
    padding-top: 1vh;
    text-align: left;
    align-items: left;
    line-height: 250%;
}

.caixa-logar-dentro-baixo {
    height: 10vh;
    padding-top: 6vh;
    text-align: center;
    align-items: center;
    line-height: 150%;
}

.caixa-meio-cadastro {
    background-color: rgb(222, 222, 222);
    border: 0.01em solid black;
    border-radius: 1em;
    width: 25vw;
    height: 60vh;
    position: fixed;
    text-align: center;
    align-items: center;
    padding-top: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.caixa-cadastro-dentro {
    height: 25vh;
    padding-top: 0.5vh;
    text-align: left;
    align-items: left;
    line-height: 225%;
}

.caixa-cadastro-dentro-baixo {
    height: 10vh;
    padding-top: 6vh;
    text-align: center;
    align-items: center;
    line-height: 75%;
}

/*_________________________________________________________________________________________Textos_________________________________________________________________________________________*/
.texto-grande {
    font-size: 4em;
    color: darkgreen;
}

.texto-grande-mini {
    font-size: 2.5em;
    color: darkgreen;
}

.texto-medio {
    font-size: 1.75em;
    color: rgb(94, 94, 94);
}

.texto-pequeno {
    font-size: 1em;
    color: darkgreen;
}

.texto-cinza {
    font-size: 2.5em;
    color: gray;
}

/*_________________________________________________________________________________________Botões_________________________________________________________________________________________*/
.botao-logar-input {
    width: 100%;
    height: 4vh;
    color: rgb(99, 99, 99);
    border: 0.01em;
    border-radius: 1em;
    border-bottom: 0.01em solid black;
    text-align: center;
    margin-bottom: 1vh;
    position: relative;
}

.botao-logar-submit {
    width: 75%;
    height: 5vh;
    background-color: green;
    color: whitesmoke;
    border: 0.01em solid black;
    border-radius: 10px;
    font-size: 1.5em;
    margin-top: 2.5vh;
    position: relative;
}

.botao-cadastro-input {
    width: 100%;
    height: 3.25vh;
    color: rgb(99, 99, 99);
    border: 0.01em;
    border-radius: 1em;
    border-bottom: 0.01em solid black;
    text-align: center;
    margin-bottom: 1vh;
    position: relative;
}

.botao-cadastro-submit {
    width: 75%;
    height: 4.5vh;
    background-color: green;
    color: whitesmoke;
    border: 0.01em solid black;
    border-radius: 10px;
    font-size: 1.5em;
    margin-top: 2.5vh;
    position: relative;
}

/*-----------------------------------------------------------------------------------------Telas_Professor/Aluno-----------------------------------------------------------------------------------------*/
/*_________________________________________________________________________________________Caixa_________________________________________________________________________________________*/
.caixa-menu-geral {
    width: 15vw;
    min-height: 100vh;
    background-color: rgb(222, 222, 222);
    border-right: 1vh solid gray;
    position: fixed;
    padding-bottom: 2.5vh;
}

.caixa-sumario-geral {
    top: 15vh;
    width: 15vw;
    min-height: 100vh;
    position: absolute;
    padding-bottom: 2.5vh;
}

.espaco {
    width: 1vw;
    height: 10vh;
    background-color: transparent;
}

.caixa-tela-informacao-geral {
    width: 84vw;
    min-height: 92.5%;
    background-color: whitesmoke;
    position: fixed;
    left: 15vw;
    top: 7.5vh;
}

.conta-geral {
    font-size: 3.5vh;
    width: 85vw;
    height: 7.5vh;
    background-color: rgb(222, 222, 222);
    border-bottom: 1vh solid gray;
    position: fixed;
    left: 15vw;
    top: 0;
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
}

.caixa-esquerda-turma {
    width: 40vw;
    height: 95vh;
    background-color: rgb(250, 250, 250);
    border-right: 1vh solid gray;
    position: absolute;
}

.caixa-esquerda-turma-dentro {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 20vw;
    height: 60vh;
    background-color: rgb(250, 250, 250);
}

.caixa-esquerda-fornecedor-dentro {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 35vw;
    height: 60vh;
    background-color: rgb(250, 250, 250);
}

.caixa-direita-turma {
    width: 45vw;
    height: 95vh;
    background-color: rgb(250, 250, 250);
    position: absolute;
    left: 40vw;
    padding: 5vw;
    padding-top: 0;
}

.caixa-direita-turma-dentro {
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 35vw;
    height: 70vh;
    background-color: whitesmoke;
    border: 0.01em solid black;
}

.caixa-config-turma-aluno {
    width: 100%;
    height: 10%;
    background-color: white;
    border: 0.01em solid black;
    bottom: 0;
    position: absolute;
}

.tabela-fornecedor {
    background-color: white;
    width: 20vw;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 0.1em solid black;
}

.td-fornecedor {
    align-items: left;
    text-align: left;
    height: 10vh;
    padding: 1vw;
    border: 0.01em solid black;

}

.caixa-esquerda-empresa {
    width: 40vw;
    height: 93vh;
    background-color: rgb(250, 250, 250);
    border-right: 1vh solid gray;
    position: absolute;
}

.caixa-esquerda-empresa-dentro {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 30vw;
    height: 25vh;
    background-color: rgb(250, 250, 250);
}

.caixa-direita-empresa {
    width: 46vw;
    height: 95vh;
    background-color: rgb(250, 250, 250);
    position: absolute;
    left: 40vw;
    padding: 5vw;
    padding-top: 0;
}

.caixa-direita-empresa-dentro {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 35vw;
    height: 70vh;
    background-color: whitesmoke;
    border: 0.01em solid black;
}

.caixa-inicial-prduto {
    width: 16vw;
    height: 22vh;
    background-color: green;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    padding: 5vh;
    padding-top: 2vh;
    margin-top: 1.5vh;
    border: 0.07em solid black;
    border-radius: 75px;
    top: 33vh;
}

/*_________________________________________________________________________________________Textos_________________________________________________________________________________________*/
.menu {
    width: 14vw;
    height: 10vh;
    font-size: 8vh;
    position: fixed;
    color: rgb(0, 50, 0);
    background-color: rgb(222, 222, 222);
    padding-left: 2.5vw;
}

.texto-grande-turma {
    font-size: 5em;
    color: rgb(0, 90, 0);
    width: 100%;
    text-align: center;
    margin-top: 2.5vh;
}

.texto-medio-turma {
    font-size: 4em;
    color: rgb(0, 90, 0);
    width: 100%;
    text-align: center;
    margin-top: 3.5vh;
}

.texto-cinza-turma {
    font-size: 2em;
    color: rgb(100, 100, 100);
    width: 100%;
    height: 5vh;
}

.texto-aviso-turma {
    width: 80%;
    height: 4.5vh;
    color: black;
    background-color: rgb(255, 173, 173);
    border: 0.01em solid darkred;
    border-radius: 15px;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 0.75vh;
    font-size: 1.5em;
}

.texto-aviso-turma-tabela {
    width: 60%;
    height: 4.5vh;
    color: black;
    background-color: rgb(255, 173, 173);
    border: 0.01em solid darkred;
    border-radius: 15px;
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding: 0.75vh;
    font-size: 1.5em;
    top: 30vh;
}

.tabela-turma {
    width: 100%;
    max-width: 35vw;
    border: 0.01em solid black;
    text-align: center;
}

.linha-topo {
    min-width: 4.5vw;
    max-width: 15vw;
    max-height: 3.5vh;
    border: 0.01em solid black;
    background-color: white;
}

.linha-ex-select-num {
    width: 5vw;
    max-height: 3vh;
    border: 0.01em solid black;
    background-color: white;
}

.linha-topo-2 {
    font-size: 1.5em;
    min-width: 4.5vw;
    max-width: 15vw;
    height: 4vh;
    border: 0.01em solid black;
    background-color: white;
}

.linha-ex-select-num-2 {
    font-size: 1.5em;
    width: 5vw;
    height: 3.6vh;
    border: 0.01em solid black;
    background-color: white;
}

.linha-topo-modificacao {
    width: 20%;
    height: 3.6vh;
    background-color: white;
    border: 0.01em solid black;
}

.linha-topo-modificacao-mini {
    height: 3.6vh;
    width: 10%;
    background-color: white;
    border: 0.01em solid black;
}

.text-topo-turma-modificacao {
    font-size: 1.5em;
}

.linha-topo-modificacao-top {
    width: 20%;
    height: 5vh;
    background-color: white;
    border: 0.01em solid black;
}

.linha-topo-modificacao-mini-top {
    width: 10%;
    height: 5vh;
    background-color: white;
    border: 0.01em solid black;
}

.texto-grande-empresa {
    font-size: 4.3em;
    color: rgb(0, 90, 0);
    width: 100%;
    text-align: center;
    margin-top: 2.5vh;
}

.texto-medio-empresa {
    font-size: 2.7em;
    color: rgb(0, 90, 0);
    width: 100%;
    text-align: center;
    margin-top: 3.5vh;
}

.texto-cinza-empresa {
    font-size: 2em;
    color: rgb(100, 100, 100);
    width: 100%;
    height: 2.5vh;

}

.texto-pequeno-empresa {
    font-size: 1.2em;
    color: darkgreen;
}

.tabela-empresa {
    width: 100%;
    max-width: 35vw;
    border: 0.01em solid black;
    text-align: center;
}

.texto-pequeno-forne {
    font-size: 1.8em;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
}

.texto-pequeno2-forne {
    font-size: 2em;
    color: rgb(0, 0, 0);
    width: 100%;
    position: relative;

}

.numero-fornecedor {
    font-size: 2em;
    background-color: white;
    color: rgb(0, 0, 0);
    width: 15vw;
    border: 0.01em solid black;
    border-radius: 100px;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    margin-left: auto;
    margin-right: auto;
}

.texto-grande-qualitat {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}

.texto-pequeno-qualitat {
    font-size: 1.5em;
    color: darkgreen;
}

.tabela-qualitat {
    width: 90em;
    max-width: 100em;
}

.tabela-qualitat {
    width: 50em;
    max-width: 35vw;
    border: 0.01em solid black;
    text-align: center;
}

.td-qualitat {
    width: 100em;
    max-width: 100em;
}

.td-qualitat {
    width: 50em;
    max-width: 35vw;
    border: 0.01em solid black;
    text-align: center;
}

.th-qualitat {
    width: 100em;
    max-width: 200em;
}

.th-qualitat {
    width: 50em;
    max-width: 35vw;
    border: 0.01em solid black;
    text-align: center;
}

.texto-pequeno-produto {
    font-size: 2.5em;
    color: black;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 4%;

}

.texto-principal-produto {
    font-size: 1.2em;
    text-align: center;
    color: whitesmoke;
    text-align: center;
    position: relative;

}

/*_________________________________________________________________________________________Botões_________________________________________________________________________________________*/
.botao-sumario {
    font-size: 1.25em;
    width: 9.5vw;
    height: 4vh;
    background-color: green;
    color: white;
    border: 0.01em solid black;
    border-radius: 10px;
    left: 3.5vw;
    position: relative;
    padding-left: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: 0.5vh;
    text-align: left;
}

.botao-turma-input {
    font-size: 1em;
    width: 100%;
    height: 4.5vh;
    background-color: white;
    border-bottom: 0.01em solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 0vh;
    margin-bottom: 2vh;
}

.botao-turma-submit {
    margin-top: 1.5vh;
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    width: 60%;
    height: 6.5vh;
    font-size: 1.25em;
    color: white;
    background-color: green;
    border: 0.01em solid black;
    border-radius: 10px;
}

.botao-select-turma {
    width: 2vh;
    height: 2vh;
    margin: 0.3vh;
    background-color: rgb(255, 80, 80);
    color: rgb(255, 80, 80);
}

#botao-select-turma {
    width: 2vh;
    height: 2vh;
    margin: 0.3vh;
    background-color: lightgreen;
    color: lightgreen;
}

.botao-exclusao-turma {
    font-size: 0.0001px;
    width: 1vw;
    height: 1vw;
    border: 0.2em solid black;
    border-radius: 50px;
    color: rgb(255, 77, 77);
    background-color: rgb(255, 77, 77);
    transition: 0.15s;
}

.botao-exclusao-turma:hover {
    color: rgb(206, 0, 0);
    background-color: rgb(206, 0, 0);
}

.botao-modificacao-turma {
    width: 100%;
    height: 2vh;
    background-color: white;
    border: 0;
    transition: 0.15s;
    border: 0.01em solid black;
    border-radius: 10px;
}

.botao-modificacao-turma:hover {
    background-color: rgb(0, 161, 0);
    color: white;
    border: 0;
}

.botao-senha-turma {
    width: 1vw;
    height: 1vw;
    background-color: salmon;
    color: salmon;
    top: -0.2vh;
    position: relative;
}

.botao-modificar-turma {
    width: 100%;
    height: 3vh;
    text-align: center;
    font-size: 1em;
    color: black;
    background-color: white;
    border: white;
}

.salvar-alteracao {
    font-size: 1em;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 0.5s;
}

.salvar-alteracao:hover {
    background-color: green;
    color: white;
}

.passar-pagina {
    font-size: 2em;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 0.5s;
}

.passar-pagina:hover {
    background-color: green;
    color: white;
}

.botao-empresa-input {
    font-size: 1em;
    width: 100%;
    height: 5vh;
    background-color: white;
    border-bottom: 0.01em solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 0vh;
    margin-bottom: 1vh;
}

.botao-empresa-input-pequeno {
    font-size: 1em;
    width: 100%;
    height: 5vh;
    background-color: white;
    border-bottom: 0.01em solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 0vh;
    margin-bottom: 1vh;
}

.botao-empresa-submit {
    margin-top: 1%;
    margin-left: 33%;
    margin-right: 20%;
    position: absolute;
    width: 30%;
    height: 5vh;
    font-size: 1.25em;
    color: white;
    background-color: green;
    border: 0.01em solid black;
    border-radius: 20px;
}

.botao-qualitat-submit {
    margin-top: 1%;
    right: 45.5%;
    position: absolute;
    width: 10%;
    height: 5vh;
    font-size: 1em;
    color: white;
    background-color: green;
    border: 0.01em solid black;
    border-radius: 20px;
}

.check-qualitat {
    position: relative;
    height: 1.7vh;
    width: 1.7vw;
    background-color: #eee;
}

.caixa-qualitat {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    padding-left: 100vw;
}

.botao-enviar-produto {
    width: 7vw;
    height: 4vh;
    font: 1em;
    margin-top: 1.5%;
    border-radius: 15px;
    border: 0.07em solid black;
    position: center;
    text-align: center;
}

.botao-enviar-produto:hover {
    background-color: whitesmoke;
    color: black;
}

.botao-numero-produto {
    width: 6.5vw;
    height: 4vh;
    margin-top: 1em;
    font: 1.5em;
    border-radius: 25px;
    border: 0.05em solid black;
    text-align: center;

}

.botao-numero1-produto {
    width: 9vw;
    height: 4.5vh;
    margin-top: 1em;
    font: 1.5em;
    border-radius: 10px;
    border: 0.05em solid black;
    text-align: center;

}