/*-----------------------------------------------------------------------------------------Exemplos-----------------------------------------------------------------------------------------*/
.div {
    font-size: 1em;
    background-color: white;
    color: white;
    width: 1em;
    height: 1em;
    display: grid;
    flex-direction: row;
    justify-content: grid;
    text-align: center;
    align-items: center;
    position: fixed;
    padding: 1em;
    margin: 1em;
}

/*-----------------------------------------------------------------------------------------Geral-----------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    width: 25vw;
    height: 1vh;
    background-color: whitesmoke;
    left: -1px;
    position: absolute;
    border: 0.01em solid black;
    border-left: 0;
    border-right: 0;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
}

summary {
    font-size: 1.5em;
    width: 11.5vw;
    height: 7vh;
    background-color: green;
    color: white;
    border: 0.01em solid black;
    border-radius: 10px;
    left: 1.5vw;
    position: relative;
    padding-left: 0.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 1.5vh;
}

/*-----------------------------------------------------------------------------------------Logar/Cadastro-----------------------------------------------------------------------------------------*/
/*_________________________________________________________________________________________Caixa_________________________________________________________________________________________*/
.caixa-fundo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.caixa-meio {
    background-color: rgb(222, 222, 222);
    border: 0.01em solid black;
    border-radius: 1em;
    width: 25vw;
    height: 60vh;
    position: fixed;
    text-align: center;
    align-items: center;
    padding-top: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.caixa-logar-dentro {
    height: 20vh;
    padding-top: 1vh;
    text-align: left;
    align-items: left;
    line-height: 250%;
}

.caixa-logar-dentro-baixo {
    height: 10vh;
    padding-top: 6vh;
    text-align: center;
    align-items: center;
    line-height: 150%;
}

.caixa-meio-cadastro {
    background-color: rgb(222, 222, 222);
    border: 0.01em solid black;
    border-radius: 1em;
    width: 25vw;
    height: 60vh;
    position: fixed;
    text-align: center;
    align-items: center;
    padding-top: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.caixa-cadastro-dentro {
    height: 25vh;
    padding-top: 0.5vh;
    text-align: left;
    align-items: left;
    line-height: 225%;
}

.caixa-cadastro-dentro-baixo {
    height: 10vh;
    padding-top: 6vh;
    text-align: center;
    align-items: center;
    line-height: 75%;
}

/*_________________________________________________________________________________________Textos_________________________________________________________________________________________*/
.texto-grande {
    font-size: 4em;
    color: darkgreen;
}

.texto-grande-mini {
    font-size: 2.5em;
    color: darkgreen;
}

.texto-medio {
    font-size: 1.75em;
    color: rgb(94, 94, 94);
}

.texto-pequeno {
    font-size: 1em;
    color: darkgreen;
}

.texto-cinza {
    font-size: 2.5em;
    color: gray;
}

/*_________________________________________________________________________________________Botões_________________________________________________________________________________________*/
.botao-logar-input {
    width: 100%;
    height: 4vh;
    color: rgb(99, 99, 99);
    border: 0.01em;
    border-radius: 1em;
    border-bottom: 0.01em solid black;
    text-align: center;
    margin-bottom: 1vh;
    position: relative;
}

.botao-logar-submit {
    width: 75%;
    height: 5vh;
    background-color: green;
    color: whitesmoke;
    border: 0.01em solid black;
    border-radius: 10px;
    font-size: 1.5em;
    margin-top: 2.5vh;
    position: relative;
}

.botao-cadastro-input {
    width: 100%;
    height: 3.25vh;
    color: rgb(99, 99, 99);
    border: 0.01em;
    border-radius: 1em;
    border-bottom: 0.01em solid black;
    text-align: center;
    margin-bottom: 1vh;
    position: relative;
}

.botao-cadastro-submit {
    width: 75%;
    height: 4.5vh;
    background-color: green;
    color: whitesmoke;
    border: 0.01em solid black;
    border-radius: 10px;
    font-size: 1.5em;
    margin-top: 2.5vh;
    position: relative;
}

/*-----------------------------------------------------------------------------------------Telas_Professor/Aluno-----------------------------------------------------------------------------------------*/
/*_________________________________________________________________________________________Caixa_________________________________________________________________________________________*/
.caixa-menu-geral {
    width: 15vw;
    min-height: 100%;
    background-color: rgb(222, 222, 222);
    border-right: 1vh solid gray;
    position: absolute;
    padding-bottom: 2.5vh;
}

.espaco {
    width: 1vw;
    height: 10vh;
    background-color: transparent;
}

.caixa-tela-informacao-geral {
    width: 85vw;
    height: 92.5vh;
    background-color: whitesmoke;
    position: fixed;
    left: 15vw;
    top: 7.5vh;
}

.conta-geral {
    font-size: 3.5vh;
    width: 85vw;
    height: 7.5vh;
    background-color: rgb(222, 222, 222);
    border-bottom: 1vh solid gray;
    position: fixed;
    left: 15vw;
    top: 0;
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
}

/*_________________________________________________________________________________________Textos_________________________________________________________________________________________*/
.menu {
    width: 14vw;
    height: 10vh;
    font-size: 8vh;
    position: fixed;
    color: rgb(0, 50, 0);
    background-color: rgb(222, 222, 222);
    padding-left: 2.5vw;
}

/*_________________________________________________________________________________________Botões_________________________________________________________________________________________*/
.botao-sumario {
    font-size: 1.25em;
    width: 9.5vw;
    height: 5vh;
    background-color: green;
    color: white;
    border: 0.01em solid black;
    border-radius: 10px;
    left: 3.5vw;
    position: relative;
    padding-left: 0.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 0.5vh;
    text-align: left;
}