/*-----------------------------------------------------------------------------------------Exemplos-----------------------------------------------------------------------------------------*/
.div {
    font-size: 1em;
    background-color: white;
    color: white;
    width: 1em;
    height: 1em;
    display: grid;
    flex-direction: row;
    justify-content: grid;
    text-align: center;
    align-items: center;
    position: fixed;
    padding: 1em;
    margin: 1em;
}

/*-----------------------------------------------------------------------------------------Geral-----------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    width: 30vw;
    left: -0.120vw;
    position: absolute;
}

/*-----------------------------------------------------------------------------------------Layot-----------------------------------------------------------------------------------------*/
/*_________________________________________________________________________________________Caixa_________________________________________________________________________________________*/
.caixa-fundo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.caixa-meio {
    background-color: whitesmoke;
    border: 0.01em solid black;
    width: 30vw;
    height: 60vh;
    position: fixed;
    text-align: center;
    align-items: center;
    padding-top: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

/*_________________________________________________________________________________________Textos_________________________________________________________________________________________*/
.texto-grande {
    font-size: 4em;
    color: darkgreen;
}

.texto-medio {
    font-size: 2.5em;
    color: darkgreen;
}

.texto-pequeno {
    font-size: 1em;
    color: darkgreen;
}

.texto-cinza {
    font-size: 2.5em;
    color: gray;
}

/*_________________________________________________________________________________________Botões_________________________________________________________________________________________*/