* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#caixa {
    width: 1000px;
    height: 600px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 15px;
    margin-right: auto;
    position: relative;
    top: 150px;
    margin-left: 100px;
}

.input-nota {
    font-size: large;
    color: black;
    border: 1px white solid;
    width: 90%;
}

#qd1 {
    width: 335px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    padding-bottom: 0;
    align-items: left;
    text-align: left;
    position: absolute;
    left: 50px;
    top: 100px;
    font-size: 15px;
    color: darkslategray;
    background-color: whitesmoke;
    border: 1px solid black;
}

#qd2 {
    width: 260px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    padding-bottom: 0;
    align-items: left;
    text-align: left;
    position: absolute;
    left: 406px;
    top: 100px;
    font-size: 15px;
    color: darkslategray;
    background-color: whitesmoke;
    border: 1px solid black;
}

#qd3 {
    width: 210px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    padding-bottom: 0;
    align-items: left;
    text-align: left;
    position: absolute;
    left: 687px;
    top: 100px;
    font-size: 15px;
    color: darkslategray;
    background-color: whitesmoke;
    border: 1px solid black;
}