* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.caixa {
    width: 85%;
    height: 85%;
    background-color: whitesmoke;
    left: 12.5%;
    top: 10%;
    text-align: center;
    align-items: center;
    line-height: 200%;
    position: absolute;
    border: 1px black solid;
    border-radius: 1%;
}

.menu {
    font-size: 350%;
    position: relative;
    padding: 1%;
}

.botao {
    font-size: x-large;
    width: 11%;
    padding: 1%;
    top: 15%;
    border: 1px black solid;
    border-radius: 5%;
    background-color: green;
    color: white;
    text-align: center;
    position: relative;
    margin-left: 1%;
    margin-bottom: 0.5%;
}

.caixa-botao-mini {
    width: 11%;
    height: 100px;
    position: relative;
    background-color: blue;
    align-items: right;
    text-align: right;
    margin: 1%;
    margin-top: 0%;
}

.botao-mini {
    font-size: x-large;
    width: 80%;
    height: 40px;
    padding: 0.5%;
    top: 15%;
    border: 1px black solid;
    border-radius: 10%;
    background-color: green;
    color: white;
    text-align: center;
    position: relative;
    margin-left: 1%;
    margin-bottom: 0.5%;
}