/*-----------------------------------------------------------------------------------------Exemplos-----------------------------------------------------------------------------------------*/
.div {
    font-size: 1em;
    background-color: white;
    color: white;
    width: 1em;
    height: 1em;
    display: grid;
    flex-direction: row;
    justify-content: grid;
    text-align: center;
    align-items: center;
    position: fixed;
    padding: 1em;
    margin: 1em;
}

/*-----------------------------------------------------------------------------------------Geral-----------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #adc0ff;
}

/*-----------------------------------------------------------------------------------------Layot-----------------------------------------------------------------------------------------*/
.header {
    background-color: #090836;
    width: 100vw;
    height: 8vh;
}

.icon1 {
    background-color: white;
    border-radius: 0.5em;
    width: 2.5vw;
    height: 5vh;
    position: fixed;
    left: 2.5vw;
    top: 1.5vh;
}

.texto-topo {
    font-size: 1.5em;
    color: #38528a;
    background-color: #090836;
    border-left: 0.01em solid #38528a;
    width: 10vw;
    height: 8vh;
    text-align: center;
    position: relative;
    left: 10vw;
    padding-top: 2vh;
}

/*_________________________________________________________________________________________Caixa_________________________________________________________________________________________*/
/*_________________________________________________________________________________________Textos_________________________________________________________________________________________*/
/*_________________________________________________________________________________________Botões_________________________________________________________________________________________*/