* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.caixa {
    width: 85%;
    height: 85%;
    background-color: whitesmoke;
    left: 12.5%;
    top: 10%;
    text-align: center;
    align-items: center;
    line-height: 200%;
    position: absolute;
    border: 1px black solid;
    border-radius: 10px;
}

#caixa-info {
    width: 85%;
    height: 90%;
    background-color: whitesmoke;
    left: 12.5%;
    top: 5%;
    text-align: center;
    align-items: center;
    line-height: 200%;
    position: absolute;
    border: 1px black solid;
    border-radius: 10px;
}

#caixa {
    width: 85%;
    height: 90%;
    background-color: whitesmoke;
    left: 12.5%;
    top: 5%;
    line-height: 200%;
    position: absolute;
    border: 1px black solid;
    border-radius: 10px;
}

.menu {
    font-size: 375%;
    position: relative;
    padding-left: 1%;
    margin: 1.5%;
    margin-left: 0%;
    margin-top: 1%;
}

.botao {
    font-size: x-large;
    width: 11%;
    padding: 1%;
    border: 1px black solid;
    border-radius: 10px;
    background-color: green;
    color: whitesmoke;
    text-align: center;
    position: relative;
    margin-left: 1%;
    margin-bottom: 0.5%;
}

#botao {
    font-size: x-large;
    width: 11%;
    padding: 1%;
    border: 1px black solid;
    border-radius: 10px;
    background-color: whitesmoke;
    color: green;
    text-align: center;
    position: relative;
    margin-left: 1%;
    margin-bottom: 0.5%;
}

.caixa-botao-mini {
    width: 11%;
    height: 100px;
    position: relative;
    align-items: right;
    text-align: right;
    padding-left: 0.5%;
    margin: 0.5%;
    margin-top: 0%;
}

.botao-mini {
    font-size: x-large;
    width: 80%;
    height: 40px;
    padding: 0.5%;
    top: 15%;
    border: 1px black solid;
    border-radius: 10px;
    background-color: green;
    color: whitesmoke;
    text-align: center;
    position: relative;
    margin-left: 1%;
    margin-bottom: 5%;
}

#botao-mini {
    font-size: x-large;
    width: 80%;
    height: 40px;
    padding: 0.5%;
    top: 15%;
    border: 1px black solid;
    border-radius: 10px;
    background-color: whitesmoke;
    color: green;
    text-align: center;
    position: relative;
    margin-left: 1%;
    margin-bottom: 5%;
}

#nome {
    font-size: xx-large;
    width: 50%;
    height: 4%;
    padding: 2.5px;
    background-color: whitesmoke;
    border: 1px black solid;
    border-radius: 5px;
    position: absolute;
    left: 12.5%;
    top: 5%;
}

.tabela {
    line-height: 125%;
    font-size: xx-large;
    left: 2.5%;
    top: 2.5%;
    position: relative;
    text-align: left;
    align-items: left;
}

.tabela-2 {
    border-spacing: 10px;
    font-size: 40px;
    left: 2.5%;
    top: 2.5%;
    position: relative;
    text-align: left;
    align-items: left;
}

.botao-tabela {
    padding: 1%;
    font-size: large;
    width: 150%;
    border: 1px black solid;
    border-radius: 5px;
    margin-right: 50%;
}

.botao-2 {
    width: 12.5%;
    height: 75px;
    margin: 2.5%;
    margin-top: 5%;
    left: 20%;
    position: relative;
    font-size: x-large;
    border: 1px black solid;
    border-radius: 5px;
    color: whitesmoke;
    background-color: green;
}

.check {
    width: 40px;
    height: 40px;
}