*{

    margin:0;
    padding:0;
    box-sizing:0;
}
.title{
    font-size:50px;
    color:green;
}
.box{
    width:1625px;
    height:850px;
    background-color:rgb(240, 240, 240);
    align-items: center;
    text-align: center;
    top:60px;
    left:200px;
    position:absolute;
    border:1px black solid;
    border-radius:5px;   
}
.box-padding{
    padding:10%;
}
.line-padding{
    padding-left:15%;
    padding-right:15%;
}
.line-padding2{
    padding-left:30%;
    padding-right:30%;
}
.button{
    left:5px;
    position:relative;
    width:170px;
    height:40px;
    font-size:20px;
    background-color:green;
    color:white;
    border:1px black solid;
    border-radius:5px;
    transition:background 0.5s;
}
.button:hover{
    background-color:white;
    color:green;
    border:1px black solid;
}
#button{
    left:5px;
    position:relative;
    width:170px;
    height:40px;
    font-size:20px;
    background-color:whitesmoke;
    color:green;
    border:1px black solid;
    border-radius:5px;
    transition:background 0.5s;
}
#button:hover{
    background-color:green;
    color:whitesmoke;
    border:1px black solid;
}
#button-micro{
    top:5px;
    left:45px;
    position:relative;
    width:130px;
    height:30px;
    font-size:18px;
    background-color:green;
    color:whitesmoke;
    border:1px black solid;
    border-radius:5px;
    transition:background 0.5s;
}
#button-micro:hover{
    background-color:whitesmoke;
    color:green;
    border:1px black solid;
}
#button-micro-2{
    top:10px;
    left:45px;
    position:relative;
    width:130px;
    height:30px;
    font-size:18px;
    background-color:whitesmoke;
    color:green;
    border:1px black solid;
    border-radius:5px;
    transition:background 0.5s;
}
#button-micro-2:hover{
    background-color:green;
    color:whitesmoke;
    border:1px black solid;
}
.texto{
    font-size:50px;
    color:black;
    position:absolute;
    left:20px;
    top:10px;
}
.texto-box{
    font-size:50px;
}
.bar{
    font-size:20px;
    color:black;
}
.text-box{
    align-items: left;
    text-align: left;
    left:80px;
    position:relative;
}
.nome{
    font-size:500px;
    left: 1300px;
    position:absolute;
}

