/*Exemplo de estrutura*/
Exemplo-de-estrutura {
    background-color: white;
    color: white;
    border: 0.05em solid black;
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1em;
    right: 1em;
    top: 1em;
    bottom: 1em;
    transition: 0.25s;
}

/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Caixas*/
.caixa-centralizador {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Logar,Cadastro*/
#caixa-logar {
    background-color: whitesmoke;
    border: 0.05em solid black;
    width: 45em;
    height: 45em;
    margin-left: auto;
    margin-right: auto;
}

#caixa-logar-dentro {
    background-color: whitesmoke;
    border: 0.05em solid black;
    width: 35em;
    margin-left: auto;
    margin-right: auto;
}

/*Tebelas*/

/*Botões*/