*{
    margin:0;
    padding:0;
    box-sizing:0;
}
.box{
    width:1525px;
    height:775px;
    left:12.5%;
    top:8%;
    position:absolute;
    padding:2%;
    border:1px black solid;
    border-radius:5px;
    background-color:whitesmoke;
}
.texto{
    font-size:60px;
    margin-left:15px;
}
.padding{
    padding:15px;
}
.botao{
    font-size:20px;
    width:200px;
    height:60px;
    padding:10px;
    top:7.5px;
    border:1px black solid;
    border-radius:10px;
    background-color:green;
    color:whitesmoke;
    position:relative;
    margin-left:15px;
    margin-bottom:5px;
}
.espaco{
    line-height:50px;
    position:relative;
}
.nome{
    font-size:50px;
    left:12.5%;
    position:absolute;
    background-color:whitesmoke;
    border:1px black solid;
    border-radius:15px;
    padding:5px;
}
#botao{
    font-size:20px;
    width:200px;
    height:60px;
    padding:10px;
    top:7.5px;
    border:1px black solid;
    border-radius:10px;
    background-color:lightgray;
    color:darkgreen;
    position:relative;
    margin-left:15px;
    margin-bottom:5px;
}
.botao-mini{
    font-size:20px;
    width:150px;
    height:40px;
    border:1px black solid;
    border-radius:5px;
    background-color:green;
    color:whitesmoke;
    position:relative;
    margin-bottom:5px;
}
#botao-mini{
    font-size:20px;
    width:150px;
    height:40px;
    border:1px black solid;
    border-radius:5px;
    background-color:lightgray;
    color:darkgreen;
    position:relative;
    margin-bottom:5px;
}
.box-mini{
    width:150px;
    height:50px;
    left:60px;
    padding:5px;
    text-align:right;
    align-items:right;
    position:relative;
}

